
/* .slider_image{
  display: flex;
  width: 100%;
  height: 400px;
} */

/* .carousel-item{
  height: 400px;
  width: 100%;
} */

/* .carousel-item img{
  height: 100%;
  width: 100%;
  object-fit: cover !important;
} */

/* .images2{
  width: 100%;
  height: 100%;
  border-radius: 10px;
} */

/* .title1{
  margin: 10px;
} */

/* .mainboxcard{
  width: 100%;
  height: 100%;
} */

/* .movieCard{
  padding: 10px;
  margin-right: 10px;
  width: 300px;
  background-color: aquamarine;
  height: 100%;
  border-radius: 5%;
  float: right;
} */

/* .image_field{
  height: 250px;
  margin-bottom: 5px;
} */